/* LoginForm.css */

/* Center the form and limit its width */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 320px;
    width: 100%;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .form__label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .form__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .form__input[type='submit'] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
  }
  
  .loginButton{
    background-color: #b59c58;
    border-color: #b59c58;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin-left:90px;
  }
  