.apartment-details {
  max-width: 600px;
  margin-left: 35px;
}

.photos-section,
.price-section,
.address-section,
.advantages-section,
.author-section {
  margin-bottom: 20px;
  margin-left: 70px;
}

h2, h3 {
  color: #333;
}

h2{
  margin-left: 40px;
}

h3{
  margin-left: 70px;
}


.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:  50px 0px 0px 0px;

}

.photo-gallery img {
  width: 200px;
  height: 240px;
  object-fit: cover;
  margin: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
.information{
  margin-left: 70px;
}
.contacts{
  margin-left: 70px;
}

/* p, ul {
  margin-left: 70px;
} */

.inner{
  margin-left: 70px;
}

.main {
  display: flex;
  margin: 70px 0 80px 0;
}

.list{
  list-style-type: none;
  margin-left: -20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #b59c58;
  color: #fff;
  margin-left: 30px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #b59c58;
}

.add-comment {
  display: block;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  margin-left: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-box{
  display: flex;
}

.line{
  display: flex;
}